#root {
  max-width: max-content;
  margin: auto;
  text-align: center;
}

#gridContainer {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

#gridBox {
  display: grid;
  max-width: min-content;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.gridCell {
  border: 1px solid white;
}

.X-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❌</text></svg>")
      16 0,
    auto;
}

.O-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⭕</text></svg>")
      16 0,
    auto;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
