#root {
  max-width: max-content;
  margin: auto;
  text-align: center;
}

#gridContainer {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

#gridBox {
  display: grid;
  max-width: min-content;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
